## Ignored

# Directories
/Build/
/Bin/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeFiles/
CMakeCache.txt
CMakeScripts/
CMakeSettings.json
Makefile

# Visual Studio
.vscode/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
/.vs/
/.vscode/
/.idea/
*.sdf
*.opensdf
*.suo
*.user
*.filters

# Other
.DS_Store
Thumbs.db
*.log


### No Ignored
!/Vendor/**
